<a href="https://colab.research.google.com/github/18101003rakin/Searching_Algorithms/blob/main/Dinajpur_to_uap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
#from google.colab import files
#uploaded = files.upload()
pd.set_option('mode.chained_assignment', None)
path = "/dnj_to_uap.csv"
df = pd.read_csv(path)
df

         Parent        Child  g(n)  h(n)
0      DINAJPUR      FULBARI    38     2
1       FULBARI     BIRAMPUR    14    34
2      BIRAMPUR    JOYPURHAT    35    12
3     JOYPURHAT       BOGURA    54    32
4        BOGURA   SHIRAJGANJ    62    27
5    SHIRAJGANJ      TANGAIL    49    54
6       TANGAIL        SAVAR    68    32
7         SAVAR   HEMAYETPUR     6    57
8      DINAJPUR   PARBATIPUR    30     2
9    PARBATIPUR  GOBINDAGANJ   101    17
10  GOBINDAGANJ      NAOGAON    78    46
11      NAOGAON       NATORE    54    59
12       NATORE     ISHWARDI    44    43
13     ISHWARDI       KUSTIA    34    31
14       KUSTIA      RAJBARI    66    24
15      RAJBARI    MANIKGANJ    66    34
16    MANIKGANJ   HEMAYETPUR    44    28
17   HEMAYETPUR      GABTOLI     9    17
18      GABTOLI    KALYANPUR     6     7
19    KALYANPUR    SHAYAMOLI     2     1
20    SHAYAMOLI    DHANMONDI     4     1
21    DHANMONDI          UAP     2     0

In [ ]:
header = input('Give Start State: ').upper()
goal = input('Give Goal State: ').upper()

Give Start State: dinajpur
Give Goal State: uap

In [ ]:
header,goal

('DINAJPUR', 'UAP')

In [ ]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df

         Parent        Child  g(n)  h(n)
0      DINAJPUR      FULBARI    38     2
1       FULBARI     BIRAMPUR    14    34
2      BIRAMPUR    JOYPURHAT    35    12
3     JOYPURHAT       BOGURA    54    32
4        BOGURA   SHIRAJGANJ    62    27
5    SHIRAJGANJ      TANGAIL    49    54
6       TANGAIL        SAVAR    68    32
7         SAVAR   HEMAYETPUR     6    57
8      DINAJPUR   PARBATIPUR    30     2
9    PARBATIPUR  GOBINDAGANJ   101    17
10  GOBINDAGANJ      NAOGAON    78    46
11      NAOGAON       NATORE    54    59
12       NATORE     ISHWARDI    44    43
13     ISHWARDI       KUSTIA    34    31
14       KUSTIA      RAJBARI    66    24
15      RAJBARI    MANIKGANJ    66    34
16    MANIKGANJ   HEMAYETPUR    44    28
17   HEMAYETPUR      GABTOLI     9    17
18      GABTOLI    KALYANPUR     6     7
19    KALYANPUR    SHAYAMOLI     2     1
20    SHAYAMOLI    DHANMONDI     4     1
21    DHANMONDI          UAP     2     0

In [ ]:
df['g(n)'] = df['g(n)'].astype('int32')
df['h(n)'] = df['h(n)'].astype('int32') 
path = [header]
sdf = df.copy()

In [ ]:
path_cost = 0
while True:
  if header==goal:
    break
  sd = sdf[sdf.Parent==header]
  sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
  sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
  print(sd)
  header = sd.loc[0].Child
  path_cost+=sd.loc[0]['g(n)']
  path.append(header)

     Parent       Child  g(n)  h(n)  cost
0  DINAJPUR  PARBATIPUR    30     2    32
1  DINAJPUR     FULBARI    38     2    40
       Parent        Child  g(n)  h(n)  cost
0  PARBATIPUR  GOBINDAGANJ   101    17   118
        Parent    Child  g(n)  h(n)  cost
0  GOBINDAGANJ  NAOGAON    78    46   124
    Parent   Child  g(n)  h(n)  cost
0  NAOGAON  NATORE    54    59   113
   Parent     Child  g(n)  h(n)  cost
0  NATORE  ISHWARDI    44    43    87
     Parent   Child  g(n)  h(n)  cost
0  ISHWARDI  KUSTIA    34    31    65
   Parent    Child  g(n)  h(n)  cost
0  KUSTIA  RAJBARI    66    24    90
    Parent      Child  g(n)  h(n)  cost
0  RAJBARI  MANIKGANJ    66    34   100
      Parent       Child  g(n)  h(n)  cost
0  MANIKGANJ  HEMAYETPUR    44    28    72
       Parent    Child  g(n)  h(n)  cost
0  HEMAYETPUR  GABTOLI     9    17    26
    Parent      Child  g(n)  h(n)  cost
0  GABTOLI  KALYANPUR     6     7    13
      Parent      Child  g(n)  h(n)  cost
0  KALYANPUR  SHAYAMOLI     2     1     3
      Parent      Child  g(n)  h(n)  cost
0  SHAYAMOLI  DHANMONDI     4     1     5
      Parent Child  g(n)  h(n)  cost
0  DHANMONDI   UAP     2     0     2

In [ ]:
print('Shortes path ',path)

Shortes path  ['DINAJPUR', 'PARBATIPUR', 'GOBINDAGANJ', 'NAOGAON', 'NATORE', 'ISHWARDI', 'KUSTIA', 'RAJBARI', 'MANIKGANJ', 'HEMAYETPUR', 'GABTOLI', 'KALYANPUR', 'SHAYAMOLI', 'DHANMONDI', 'UAP']

In [ ]:
print('Total path cost is ',path_cost+list(sdf[sdf['Child']==goal]['h(n)'])[0])

Total path cost is  540